<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--上面部分固定-->

<mapper namespace="net.siehe.wiki.mapper.TestMapper" >

    <select id="list" resultType="net.siehe.wiki.domain.Test">
        select `id`, `name`, `password` from `test`
    </select>

</mapper>